body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

/* Header */
header h1 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #2c3e50;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* General Image Styling */
.immagini {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.immagini:hover {
    transform: scale(1.05);
}

/* Section Titles */
h2 {
    font-size: 1.8em;
    color: #34495e;
    border-style: solid;
    border-color: #2980b9;
    padding: 10px;
    background-color: #ecf0f1;
    text-align: center;
}

/* Paragraphs */
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

ul {
    padding-left: 40px;
}

li {
    font-size: 1.2em;
}

/* Link Styling */
a {
    color: #2980b9;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #1abc9c;
}
